asgiref
distlib
Django
django-crispy-forms
djangorestframework
djangorestframework-simplejwt
filelock
mysql-connector-python
mysqlclient
npm
optional-django
pillow
platformdirs
psycopg2
psycopg2-binary
PyJWT
PyMySQL
pytz
sqlparse
tzdata
virtualenv
virtualenvwrapper-win
